# ─── MongoDB ───
MONGO_URI=mongodb+srv://<usuario>:<password>@<host>/<database>?retryWrites=true&w=majority

# ─── MySQL ───
MYSQL_HOST=localhost
MYSQL_USER=tu_usuario
MYSQL_PASSWORD=tu_password
MYSQL_DB=nombre_base_datos

# ─── API Auth ───
API_USER=usuario_api
API_PASS=password_api